OAUTH_CLIENT_ID=your_oauth_client_id
OAUTH_CLIENT_SECRET=your_oauth_client_secret
FEATURE_LAYER_URL=https://servicesX.arcgis.com/yourOrgId/arcgis/rest/services/YourLayer/FeatureServer/0
UPDATE_INTERVAL=3
LOG_LEVEL=INFO
